






<html>
    <head>
        <link rel="stylesheet" href="/static/taglib-csp-nonce-8b866529.css">
        <link rel="shortcut icon" href="/static/favicon-c3deb101.ico">
    </head>
    <body>
        <script foo="bar" nonce="abc">console.log('my inline script');</script>
        <script src="/static/taglib-csp-nonce-12f06dc1.js"></script>
<script src="/static/template.marko.init-3b03a645.js"></script>
<script nonce="abc">$_mod.ready();</script>
    </body>
</html>