<html>
    <head>
        <link my-custom rel="stylesheet" href="/static/taglib-attrs-1ae3e9bf.css">
        <link my-custom rel="stylesheet" href="/static/taglib-attrs-244694d6.css">
        <style my-custom>body .inline {
    background-color: red;
}
</style>
    </head>
    <body>
        <script my-custom src="/static/taglib-attrs-5d377632.js"></script>
<script>$_mod.ready();</script>
        <script my-custom src="/static/taglib-attrs-c3a331b0.js"></script>
        <script my-custom>console.log('hello-inline');
</script>
    </body>
</html>