<html>
    <head>
        <link rel="stylesheet" href="/static/taglib-global-dependencies-1ae3e9bf.css">
    </head>
    <body>
        <script src="/static/taglib-global-dependencies-3fe6e70c.js"></script>
<script src="/static/template.marko.init-c17049ee.js"></script>
<script>$_mod.ready();</script>
    </body>
</html>