<html>
    <head>
        <link rel="stylesheet" href="/static/taglib-global-dependencies-1ae3e9bf.css">
    </head>
    <body>
        <script src="/static/taglib-global-dependencies-a31d1d7e.js"></script>
<script>$_mod.ready();</script>
    </body>
</html>